<div class="container">

    <a href="#/hotels/add" class="btn btn-primary">Adicionar</a>

    <table class="table">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Responsável</td>
                <td>Email</td>
                <td>Telefone</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key,hotel) in ctrl.hotels">
                <td>{{hotel.nome}}</td>
                <td>{{hotel.responsavel}}</td>
                <td>{{hotel.email}}</td>
                <td>{{hotel.telefone}}</td>
                <td>
                    <a href="" title="Remover Hotel" ng-click="ctrl.removerHotel(key)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a href="#/hotels/edit/{{key}}" title="Editar Hotel" >
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
</div>